@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&family=Zen+Maru+Gothic&family=Source+Code+Pro&display=swap');

* {
  box-sizing: content-box;
}

p {
  margin: 0;
}

ol {
  margin: 0;
}

ul {
  margin: 0;
}

dl {
  margin: 0;
}

figure {
  margin: 0;
}

code {
  font-family: 'Source Code Pro';
}

.justified {
  text-align: justify;
}

:root {
  --page-size-w: 210mm;
  --page-size-h: 297mm;
  --aux-line-color: #fff;
  font-family: 'Zen Maru Gothic';
  font-size: 4mm;
}

body {
  margin: auto;
  width: var(--page-size-w);
  height: var(--page-size-h);
  border: none;
  display: grid;
}

h1 {
  margin: 0;
  font-size: 1em;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
}

#pagebox {
  margin: 5mm;
  border: 1px var(--aux-line-color) dashed;
  display: grid;
  grid-template:
    "ttl ttl ttl"
    "rec inf inf" 16em
    "rec qr1 qr1"
    "mbr mbr qr2"
    "com com qr2"
   / 1fr 1fr min-content;
  gap: 5mm;
}

#titlebox {
  grid-area: ttl;
  font-size: 20mm;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

#titlebox * {
  font-family: 'Yuji Syuku';
}

#oucrc-logo {
  position: relative;
  top: 8%;
  display: grid;
  width: min-content;
  grid-template-columns: repeat(2, max-content);
  font-size: 0.5em;
  --pseudo-row-gap: -0.6em
}

#oucrc-logo :nth-child(n + 3) {
  margin-top: var(--pseudo-row-gap);
}

#recommended-for {
 grid-area: rec;
 width: min-content;
}

#recommended-for ul {
  width: max-content;
}

#recommended-for ul li::marker {
  content: '‣';
  font-family: sans-serif;
}

#info {
  grid-area: inf;
}

#info table th {
  text-align: left;
  vertical-align: top;
}

#info ul {
  list-style-type: none;
  padding: 0;
}

#site-qr {
  grid-area: qr1;
  position: relative;
}

#site-qr>div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#site-qr figure img {
  display: block;
  margin: auto;
}

#members {
  grid-area: mbr;
  font-size: smaller;
}

#big-qr {
  grid-area: qr2;
  width: fit-content;
  align-self: flex-end;
}

#big-qr-img {
  display: block;
  margin: auto;
  width: 70mm;
  height: 70mm;
}

#comment {
  grid-area: com;
  font-size: x-small;
}
